{% extends 'base.html.twig' %}

{% block title %}Order Details{% endblock %}

{% block body %}
    <div class="container">
        <h1>Order Details</h1>
        <!-- Display order details here -->
    </div>
{% endblock %} 